@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@400;600;900&display=swap");

@font-face {
  font-family: "Headline-font";
  src: url("../fonts/Neumatic-Compressed-Black.ttf");
}
@font-face {
  font-family: "Regular-font";
  src: url("../fonts/CooperHewitt-Medium.ttf");
}
@font-face {
  font-family: "Regular-font-bold";
  src: url("../fonts/CooperHewitt-Bold.ttf");
}

:root {
  --fontPrimary: "Outfit", sans-serif;
  --fontSecondary: "Bebas Neue", cursive;

  /* color list  */
  --clr-black: #262626;
  --clr-white: #f1f1fe;
  --clr-blue: #6c00f4;

  /* typography  */
  --h6: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --h5: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --h4: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
  --h3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --h2: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --h1: clamp(3.36rem, calc(2.87rem + 5.45vw), 5.77rem);
}

body {
  font-family: Regular-font;
  font-weight: 400;
}

/* custom classes  */

.subtitle {
  font-family: Regular-font-bold;
  font-size: var(--h2);
  font-weight: bold;
  width: 75%;
  line-height: 100%;
  padding-block: 0.5em;
}

@media (max-width: 600px) {
  .subtitle {
    width: 100%;
    font-size: var(--h5);
  }
}
