/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  max-width: 1440px;
  margin-inline: auto;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Remove anchor underline */
a {
  text-decoration: none;
}

/* Make images responsive */
img {
  max-width: 100%;
  display: block;
}

/* Remove table spacing */
table {
  border-collapse: collapse;
}

/* Reset input, textarea, select and button styles */
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  appearance: none;
  background: transparent;
  outline: none;
}

/* Reset button styles */
button {
  cursor: pointer;
}

/* Remove default input range styles */
input[type="range"] {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

/* Set custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
