---
---

<p>🎥 MADE BY FILMMAKERS | SHORT OF THE WEEK</p>

<style>
  p {
    text-align: center;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
