---
import icon1 from "./public/icon-1.svg";
---

<section
  aria-label="Hero Section"
  class="text-center w-[90%] mx-auto min-h-[60vh]"
>
  <h1
    class="text-primary lg:text-[112px] font-syne font-bold w-[70%] mx-auto leading-tight"
  >
    Take it t<span class="inline-block">
      <img
        src={icon1}
        alt="this is a star icon"
        width="60px"
        height="60px"
        class=""
      /></span
    > the next level
  </h1>

  <p class="text-2xl lg:w-[60%] mx-auto text-gray-600">
    We are <span>Specialized</span> in user <span
      class="text-blue-700 underline">interface design</span
    >. we consider to be an integral part of the best user experience.
  </p>
  <button
    class="flex gap-1 lg:w-[180px] text-white px-[15px] py-[15px] bg-primary justify-center items-center mx-auto my-6 rounded-full"
    id="hero-btn"
    ><span class="text-xl font-bold">Say Hello</span>
    <svg
      width="31"
      height="30"
      viewBox="0 0 31 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      id="icon-rotate"
    >
      <path
        d="M14.7406 0.879875C15.141 0.364504 15.9197 0.364505 16.32 0.879876L17.3083 2.15204C17.6188 2.55172 18.1789 2.65642 18.6128 2.3959L19.9939 1.56663C20.5534 1.23069 21.2795 1.512 21.4667 2.13719L21.9286 3.68045C22.0737 4.16529 22.5582 4.46527 23.0569 4.37907L24.6443 4.10471C25.2874 3.99356 25.8629 4.51819 25.8115 5.16877L25.6848 6.77469C25.645 7.27922 25.9884 7.73395 26.4845 7.83373L28.0638 8.15132C28.7036 8.27998 29.0507 8.97707 28.7679 9.56517L28.0696 11.0169C27.8502 11.4729 28.0061 12.021 28.4327 12.2933L29.7907 13.16C30.3408 13.5111 30.4126 14.2865 29.9364 14.7327L28.7608 15.8341C28.3915 16.1801 28.3389 16.7475 28.6384 17.1555L29.5915 18.4542C29.9777 18.9803 29.7646 19.7293 29.1593 19.9733L27.6653 20.5757C27.1959 20.7649 26.9419 21.275 27.0737 21.7637L27.4934 23.3189C27.6634 23.949 27.1941 24.5704 26.5416 24.5794L24.9308 24.6013C24.4247 24.6083 24.0036 24.9921 23.9501 25.4954L23.7795 27.0973C23.7105 27.7462 23.0484 28.1562 22.4367 27.9287L20.9267 27.3674C20.4524 27.191 19.921 27.3968 19.6893 27.8468L18.9516 29.2789C18.6528 29.859 17.8873 30.0021 17.3991 29.5691L16.1939 28.5002C15.8152 28.1643 15.2454 28.1643 14.8668 28.5002L13.6616 29.5691C13.1734 30.0021 12.4079 29.859 12.1091 29.2789L11.3714 27.8468C11.1396 27.3968 10.6083 27.191 10.1339 27.3674L8.62398 27.9287C8.01229 28.1562 7.3502 27.7462 7.28112 27.0973L7.11061 25.4954C7.05703 24.9921 6.63592 24.6083 6.12987 24.6013L4.51911 24.5794C3.86656 24.5704 3.39728 23.949 3.56729 23.3189L3.98694 21.7637C4.11879 21.275 3.86479 20.7649 3.39541 20.5757L1.90136 19.9733C1.2961 19.7293 1.08299 18.9803 1.46912 18.4542L2.42228 17.1555C2.72173 16.7475 2.66915 16.1801 2.29983 15.8341L1.12427 14.7327C0.648042 14.2865 0.719894 13.511 1.27001 13.16L2.62793 12.2933C3.05455 12.021 3.21049 11.4729 2.99111 11.0169L2.29281 9.56517C2.00992 8.97707 2.35703 8.27998 2.99683 8.15132L4.57613 7.83373C5.07229 7.73395 5.41569 7.27922 5.37587 6.77469L5.24915 5.16876C5.19781 4.51818 5.7733 3.99356 6.41636 4.10471L8.00374 4.37907C8.50245 4.46527 8.98693 4.16529 9.13206 3.68045L9.59402 2.13719C9.78116 1.51199 10.5073 1.23069 11.0668 1.56663L12.4479 2.3959C12.8818 2.65642 13.4419 2.55172 13.7524 2.15204L14.7406 0.879875Z"
        fill="#ffff"></path>
    </svg>
  </button>
</section>
