---
---

<section>
  <h1 class="title">EXPLORE THE UNIVERSE OF SHORT FILM</h1>
  <p>
    Filmmakers, industry professionals, and fans of short film—all in one place
  </p>
  <form>
    <input type="search" name="" id="" placeholder="search films & tv series" />
    <div>
      <input type="submit" value="" />
      <!--?xml version="1.0" encoding="utf-8"?--><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15 15L21 21"
          stroke="#323232"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
          stroke="#323232"
          stroke-width="2"></path>
      </svg>
    </div>
  </form>
</section>

<style>
  section {
    background-image: url("/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    font-size: 6.37rem;
    font-family: Headline-font;
    text-align: center;
    color: var(--clr-black);
  }
  p {
    font-size: var(--h5);
    color: rgba(23, 22, 22, 0.9);
    font-weight: 300;
  }
  form {
    background-color: var(--clr-white);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    margin-top: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0.3rem;
  }
  form div {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    justify-content: space-between;
  }
  input[type="submit"] {
    font-size: var(--h5);
    color: var(--clr-black);

    height: 100%;
  }
  input[type="search"] {
    font-size: var(--h6);
    height: 100%;
  }
</style>
