---
---

<section>
  <figure>
    <figcaption>No film? You can still join.</figcaption>
    <p>
      Shortverse is the best resource for producers, managers, programmers, &
      others looking for early access to any short film and a direct connection
      to emerging filmmakers
    </p>
    <small><a href="">APPLY FOR INDUSTRY ACCESS</a></small>
  </figure>
</section>

<style>
  section {
    background-image: url("/bottom-background.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  figure {
    display: grid;
    place-items: center;
  }
  figcaption {
    font-size: var(--h3);
    font-weight: bold;
    color: var(--clr-blue);
    font-family: Regular-font-bold;
  }
  p {
    font-size: var(--h6);
    width: 50%;
    text-align: center;
  }
  small {
    margin-top: 2rem;
  }
  a {
    color: rgba(23, 23, 23, 0.7);
    text-decoration: overline;
  }
  @media (max-width: 600px) {
    figcaption {
      font-size: var(--h3);
      text-align: center;
      margin-bottom: 1em;
    }
    p {
      width: 100%;
      font-size: var(--h6);
    }
  }
</style>
