---
import pricing from "/pricing.png";
---

<section>
  <figcaption>
    <h3>Join the new path</h3>
    <p>
      It's now faster & easier to get your work seen and unlock new
      opportunities. Jump aboard!
    </p>
  </figcaption>
  <img src={pricing} alt="this is a pricing table" />
  <figure>
    <a href="/contact">Submit a film</a>
    <small
      >Learn the ins and outs of submitting a film. <span
        >Read the Rules and Guidelines</span
      ></small
    >
  </figure>
</section>

<style>
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  figcaption {
    position: absolute;
    top: 100px;
    text-align: center;
    display: grid;

    place-items: center;
  }

  h3 {
    font-size: var(--h3);
    color: var(--clr-blue);
    text-transform: capitalize;
    font-family: Regular-font-bold;
  }
  p {
    font-size: var(--h5);
    width: 60%;
    color: rgba(21, 16, 21, 0.5);
    line-height: 100%;
  }
  figure {
    display: grid;
    place-items: center;
  }
  a {
    background-color: var(--clr-blue);
    color: var(--clr-white);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
    font-size: var(--h6);
    margin-bottom: 1em;
  }
  small {
    font-size: var(--h6);
  }
  span {
    text-decoration: underline;
    color: rgba(21, 16, 21, 0.5);
  }
  @media (max-width: 600px) {
    figcaption {
      top: 50px;
    }
    p {
      width: 100%;
      font-size: var(--h6);
    }
    img {
      margin-top: 100px;
    }
  }
</style>
