---
const { data } = Astro.props;
const { title, img, subtitle } = data;
---

<article>
    <img src={img} alt={title} />
  <figure>
    <figcaption class="subtitle">{title}</figcaption>
    <p>{subtitle}</p>
  </figure>
</article>

<style>
  article {
    display: flex;
    min-height: 50vh;

    margin: 4rem 0;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    width: 90%;
    margin-inline:auto ;
  }
  figure{
    width: 60%;

  }
  figcaption {
    font-size: var(--h2);
    font-weight: bold;
    width: 75%;
    line-height: 100%;
    padding-block: 0.5em;
  }


  p {
    font-size: var(--h5);
    color: rgba(21, 21, 21, 0.8);
  }
  figcaption::selection,
  p::selection {
    background-color: var(--clr-blue);
    color: var(--clr-white);
  }
  img {
    width: 40%;
    scale: 0.950;
    transition: scale 400ms;
    transition-delay: 100ms;
    object-fit: cover;
    aspect-ratio: 1:1;
  }
  img:hover{
    scale: 1;
  }
</style>
