---
import Nav from "../components/Nav.astro";
import MainHead from "./MainHead.astro";
---

<html lang="en">
  <MainHead title={"Home"} />
  <body class="font-nunito max-w-[1440px] mx-auto">
    <Nav />
    <main>
      <slot>Defult Text</slot>
    </main>
    <!-- footer  -->
  </body>
</html>
